body{
    background-color: lightblue;
}

#navbar{
    padding: 20px 10%;
}

.nav-link{
    color: black;
}

#departmentsTab{
    color: white;
}

.column-title{
    text-align: center;
}

.column-subtitle-2{
    padding: 0;
    text-align: left;
}
.column-subtitle-1{
    padding: 0;
    text-align: right;
}

#content{
    padding: 20px 10%;
}

.departments-cards{
    margin: 3%;
    border-radius: 3%;
    background-color: #61aafd;
}


#departamentsList{
    padding: 20px 8%;
    min-height: 600px;

}

#footer{
    text-align: center;
}
