body{
    background-color: lightblue;
}

/* navbar */

#navbar{
    padding: 20px 10%;
}

.nav-link{
    color: black;
}

/* search, create, delete */

#departmentsTab{
    color: white;
}

.column-title{
    text-align: center;
}

.column-subtitle-2{
    padding: 0;
    text-align: left;
}
.column-subtitle-1{
    padding: 0;
    text-align: right;
}

/* lista de departamentos */

#content{
    padding: 20px 10%;
}

#departmentsContent{
    min-height: 600px;
}

.table{
    margin: auto 10%;
    width: 70%;
}

.department-row {
    background: linear-gradient(0deg, rgb(209, 209, 209), rgb(209, 209, 209)) no-repeat right bottom / 0 var(--bg-h);
    transition: background-size 700ms;
    --bg-h: 100%;
    margin: 10px;
    border-radius: 4%;
    min-height: 100px;
}

.department-row:where(:hover, :focus-visible) {
    background-size: 100% var(--bg-h);
    background-position-x: left;
}
  

#departamentsList{
    margin: 20px 10%;
    padding-top: 20px;
    min-height: 600px;
}

/* footer */

#footer{
    text-align: center;
}
