body{
    /* TODO adicionar font global */
}

h1{
    font-family: 'Montserrat', sans-serif;
}

.navbar{
    font-family: 'Montserrat', sans-serif;
}

.acoes-column{
    text-align: right;
}

.btn-info{
    border-radius: 50%;
    margin: 0 2px;
}

.qualiti-logo{
    position: absolute;
    margin: auto 37%;
}

