body{
    background-color: lightblue;
}

#coursesTab{
    color: white;
}

#navbar{
    padding: 20px 10%;
}

.nav-link{
    color: black;
}

#departmentsTab{
    color: white;
}

.column-title{
    text-align: center;
}

.column-subtitle-2{
    padding: 0;
    text-align: left;
}
.column-subtitle-1{
    padding: 0;
    text-align: right;
}

#content{
    padding: 20px 10%;
    min-height: 750px;
}

#footer{
    text-align: center;
}
